# Ignore node_modules
node_modules/

# Other common ignores
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
jspm_packages/
typings/
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.cache
.parcel-cache
.next
.nuxt
dist
.cache/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vercel
